[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==1.0.2"
flask-alembic = "==2.0.1"
flask-sqlalchemy = "==2.3.2"

[dev-packages]

[requires]
python_version = "3.6"
